body {
    background-color: rgb(248, 244, 242);
}


#welcome {
    margin: auto;
    text-align: center;
    color: rgb(218, 106, 124);
    font-size: 45px;
}

#anasayfa {
    margin: auto;
    text-align: center;
    color: skyblue;
    font-size: 25px;
}

#makale {
    margin: auto;
    text-align: center;
    color: rgb(161, 161, 223);
    font-size: 22px;
}

#tanıtım {
    text-align: center;
    color: midnightblue;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
}

#hakkımızda {
    text-align: center;
    margin: auto;
    font-size: 35px;
    margin-bottom: auto;
    color: rgb(218, 106, 124);
}

.text-color {
    color: midnightblue;
    font-size: 26px;
    text-align: center;

}

#urunler {
    color: rgb(218, 106, 124);
    font-size: 35px;
    text-align: center;
    margin: auto;
}

.aletler {
   text-align: center;
}

